# Created by https://www.gitignore.io/api/c++

### C++ ###
# Prerequisites
*.d
*.sdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.db
# Folders
Debug/
Release/
Compute.Samples/modules/node_modules/
Compute.Samples/common/node_modules/
Compute.Samples/gpu/cl/node_modules/
Compute.Samples/gpu/gl/node_modules/
Compute.Samples/gpu/node_modules/
.vscode/
.vs/
